# This is a basic workflow to help you get started with Actions

name: release Armbian monthly
on:
  schedule:
    - cron: '0 0 14 * *'
  workflow_dispatch:

env:
    GH_TOKEN: ${{ github.token }}

jobs:
  get_build_date:
    runs-on: ubuntu-latest
    outputs:
      build_datedash: ${{ steps.set_date.outputs.datedash }}
      build_date: ${{ steps.set_date.outputs.date }}
    steps:
      - name: Set build date
        id: set_date
        run:  |
          export datenow=$(TZ=America/New_York date +%Y-%m-%d-%H%M%S)
          echo "datedash=$(echo $datenow)" >> $GITHUB_OUTPUT
          echo "date=$(echo $datenow | sed 's|\-||g')" >> $GITHUB_OUTPUT
          echo Date and time is $datenow EST
          
          

  build:
    strategy:
      matrix:
        # test release
        device: [opi3b]
        vendor: [edge]
        os: [bookworm]
        type: [minimal] 

        # device: [opi3b]
        # vendor: [edge, vendor]
        # os: [bookworm, trixie, noble, plucky]
        # type: [minimal, cinnamon, gnome, i3-wm, mate, xfce] # kde-neon, kde-plasma,
        # exclude:
        #   - device: opi3b
        #     vendor: edge
        #     os: noble
        #     type: mate
        #   - device: opi3b
        #     vendor: vendor
        #     os: noble
        #     type: mate
        #   - device: opi3b
        #     vendor: vendor
        #     os: plucky
        #     type: mate
        #   - device: opi3b
        #     vendor: edge
        #     os: plucky
        #     type: mate
      fail-fast: false
    runs-on: ubuntu-latest
    needs: get_build_date
    steps:

      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: true
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true

      - uses: thejerrybao/setup-swap-space@v1
        with:
          swap-space-path: /swapfile
          swap-size-gb:  8
          remove-existing-swap-files: false

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: checkout armbian
        uses: actions/checkout@v4
        with:
          repository: armbian/build
          path: .
          
      - name: checkout conf files
        uses: actions/checkout@v4
        with:
          path: opi3b


      - name: Prep
        run: |
          # export LatestArmbianVer=$(gh release list -R armbian/build |grep -v trunk | head -n1 |cut -f1)
          # export LatestArmbianURL=https://github.com/armbian/build/archive/refs/tags/${LatestArmbianVer}.tar.gz
          # echo LatestArmbianURL=$LatestArmbianURL
          # wget -q -nv "$LatestArmbianURL" -O${LatestArmbianVer}.tar.gz
          # tar --strip-components=1 -xf ${LatestArmbianVer}.tar.gz
          # rm -f ${LatestArmbianVer}.tar.gz
          # git clone https://github.com/armbian/build .
          mv opi3b/userpatches .
          mkdir release
          ls -l
          #sleep 10

      - name: Set retry_wait_seconds for possible retry
        id: set_timeout
        run: |
          export retry_wait_seconds=$(shuf -i 5-145 -n 1)
          echo "retry_wait_seconds=$retry_wait_seconds" >> $GITHUB_OUTPUT
          echo retry_wait_seconds=$retry_wait_seconds


      - name: Build armbian-${{ matrix.device }}-${{ matrix.vendor }}-${{ matrix.os }}-${{ matrix.type }}.img
        # run: |
        #   image=${{ matrix.device }}-${{ matrix.vendor }}-${{ matrix.os }}-${{ matrix.type }}
        #   sleep $(( RANDOM % 300 ))
        #   ./compile.sh EXPERT=yes  ${image} || exit 1
        #   find output -name "*.img" -exec cp -vf {} release/ \;
        uses: nick-invision/retry@v2
        with:
          timeout_minutes: 300
          retry_wait_seconds: ${{ steps.set_timeout.outputs.retry_wait_seconds }}
          max_attempts: 5
          command: |
            image=${{ matrix.device }}-${{ matrix.vendor }}-${{ matrix.os }}-${{ matrix.type }}
            #sleep ${{ steps.set_timeout.outputs.retry_wait_seconds }}
            ./compile.sh EXPERT=yes PREFER_DOCKER=no ${image} || exit 1
            find output -name "*.img" -exec cp -vf {} release/ \;

      - name: add version and date
        id: set_ver
        run: |
          image=${{ matrix.device }}-${{ matrix.vendor }}-${{ matrix.os }}-${{ matrix.type }}
          cd release
          for i in $(find . -name "*.img" -exec echo "{}" \;)
          do
            oldfilename=$i
            extension=${oldfilename##*.}
            oldfilename=$(echo ${oldfilename%.*}|cut -d/ -f2-)
            echo Filename is ${oldfilename}.${extension}
            AVer=$(echo $oldfilename | sed 's/Armbian-unofficial_\([^_]*\).*/\1/')
            echo 
            echo AVer: $AVer
            KVer=${{ matrix.vendor }}-$(echo $oldfilename | sed "s/.*_${{ matrix.vendor }}_\([^_]*\).*/\1/") 
            echo KVer: $KVer
            filename=armbian-$(echo ${{ matrix.device }}-${{ matrix.os }}-${{ matrix.type }}-${AVer}-${KVer}-${{ needs.get_build_date.outputs.build_datedash }})
            echo New Filename is ${filename}.${extension}
            mv -vf "${oldfilename}.${extension}" "${filename}.${extension}"
          done
          cd ..
          ls release
          
      - name: Compress armbian-${{ matrix.device }}-${{ matrix.os }}-${{ matrix.type }}.img
        run: |
          find release -name "*.img" -exec xz -vz -T0 -1 {} \;  
          ls release #-6 --extreme

      - name: Release armbian-${{ matrix.device }}-${{ matrix.os }}-${{ matrix.type }}.img.xz
        uses: softprops/action-gh-release@v2
        with:
          files: release/*.img.xz
          draft: true
          fail_on_unmatched_files: true
          name: build ${{ matrix.device }}-${{ needs.get_build_date.outputs.build_datedash }}
          tag_name: ${{ matrix.device }}-v${{ needs.get_build_date.outputs.build_date }}
    
  update_release_body:
    runs-on: ubuntu-latest
    needs: [get_build_date, build]
    steps:
      - name: Update draft release body
        run: |
          tag="opi3b-v${{ needs.get_build_date.outputs.build_date }}"
          assets=$(gh release view $tag --json assets -q '.assets[].name')
          AVer=""
          edge_kver=""
          vendor_kver=""
          for asset in $assets; do
            if [ -z "$AVer" ]; then
              AVer=$(echo $asset | sed 's/armbian-[^-]*-[^-]*-[^-]*-\([^_]*\)-.*-.*/\1/')
            fi
            kver=$(echo $asset | sed 's/armbian-[^-]*-[^-]*-[^-]*-[^-]*-\([^_]*\)-.*-.*/\1/')
            if [[ $kver == edge-* ]]; then
              edge_kver=$kver
            elif [[ $kver == vendor-* ]]; then
              vendor_kver=$kver
            fi
          done
          body="Armbian Version: $AVer
          Kernel Versions:
          - Edge: $edge_kver
          - Vendor: $vendor_kver"
          gh release edit $tag --notes "$body"
    
  publish:
    runs-on: ubuntu-latest
    needs: [get_build_date, build, update_release_body]
    steps:
      - name: Publish draft release
        run: gh release edit opi3b-v${{ needs.get_build_date.outputs.build_date }} --draft=false
    

