# This is a basic workflow to help you get started with Actions

name: release Armbian monthly 2
on:
  schedule:
    - cron: '20 9 14 * *'
  workflow_dispatch:
    inputs:
      branch:
        description: 'Choose build branch'
        required: true
        default: 'trunk'
        type: choice
        options:
          - trunk
          - stable

env:
    GH_TOKEN: ${{ github.token }}

jobs:
  get_build_date:
    runs-on: ubuntu-latest
    outputs:
      build_datedash: ${{ steps.set_date.outputs.datedash }}
      build_date: ${{ steps.set_date.outputs.date }}
    steps:
      - name: Set build date
        id: set_date
        run:  |
          export datenow=$(TZ=America/New_York date +%Y-%m-%d-%H%M%S)
          echo "datedash=$(echo $datenow)" >> $GITHUB_OUTPUT
          echo "date=$(echo $datenow | sed 's|\-||g')" >> $GITHUB_OUTPUT
          echo Date and time is $datenow EST
          
  build:
    strategy:
      matrix:
        # test release
        device: [orangepi5-plus]
        kernel: [current]
        os: [trixie noble plucky]
        type: [minimal] 

        # device: [orangepi5-plus]
        # kernel: [current, edge, vendor]
        # os: [trixie noble plucky]
        # type: [cinnamon, gnome, kde-plasma, minimal, xfce] # minimal, kde-neon, kde-plasma, i3-wm, mate
        # include:
        #   - device: orangepi5-plus
        #     kernel: current
        #     os: noble
        #     type: kde-neon
        #   - device: orangepi5-plus
        #     kernel: edge
        #     os: noble
        #     type: kde-neon
        #   - device: orangepi5-plus
        #     kernel: vendor
        #     os: noble
        #     type: kde-neon
        #   - device: orangepi5-plus
        #     kernel: current
        #     os: trixie
        #     type: mate
        #   - device: orangepi5-plus
        #     kernel: edge
        #     os: trixie
        #     type: mate
        #   - device: orangepi5-plus
        #     kernel: vendor
        #     os: trixie
        #     type: mate
          
      fail-fast: false
    runs-on: ubuntu-latest
    needs: get_build_date
    steps:

      - name: Free Disk Space (Ubuntu)
        uses: BRAINSia/free-disk-space@v2
        with:
          tool-cache: false
          mandb:   true
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true

      - uses: thejerrybao/setup-swap-space@v1
        with:
          swap-space-path: /swapfile
          swap-size-gb:  8
          remove-existing-swap-files: false

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Prep for trunk
        if: github.event.inputs.branch == 'trunk' || github.event_name == 'schedule'
        uses: actions/checkout@v4
        with:
          repository: armbian/build
          path: .
          
      - name: Prep for stable
        if: github.event.inputs.branch == 'stable'
        run: |
          export LatestArmbianVer=$(gh release list -R armbian/build |grep -v trunk | head -n1 |cut -f1)
          export LatestArmbianURL=https://github.com/armbian/build/archive/refs/tags/${LatestArmbianVer}.tar.gz
          echo LatestArmbianURL=$LatestArmbianURL
          wget -q -nv "$LatestArmbianURL" -O${LatestArmbianVer}.tar.gz
          tar --strip-components=1 -xf ${LatestArmbianVer}.tar.gz
          rm -f ${LatestArmbianVer}.tar.gz
      
      
      # - name: Get device config file script
      #   uses: actions/checkout@v4
      #   with:
      #     path: thisrepo
      # - name: Make device config file
      #   run: |
      #     mv thisrepo/mkuserpatch.sh .
      #     for os in ${{ matrix.os }}; do
      #       ./mkuserpatch.sh ${{ matrix.device }} ${{ matrix.kernel }} $os ${{ matrix.type }}
      #     done
      #     ls -l . userpatches
      #     #sleep 10
      - name: Make device config file
        run: |
          mkdir userpatches
          for os in ${{ matrix.os }}; do
          export os=$os
          echo "Creating userpatch for OS: $os"
          device=${{ matrix.device }}
          kernel=${{ matrix.kernel }}
          type=${{ matrix.type }}

          configfile="userpatches/config-${device}-${kernel}-${os}-${type}.conf"
          
          cat << EOF > $configfile
          KERNEL_CONFIGURE=no
          #INSTALL_HEADERS=yes
          SHARE_LOGS=no
          KERNEL_GIT=shallow
          BOARD=${device}

          BRANCH=${kernel}

          RELEASE=${os}

          EOF
          if [ "$type" == "minimal" ]; then
          cat << EOF >> $configfile
          BUILD_MINIMAL=yes
          BUILD_DESKTOP=no
          EOF
          else
          cat << EOF >> $configfile
          BUILD_MINIMAL=no
          BUILD_DESKTOP=yes
          DESKTOP_APPGROUPS_SELECTED='browsers desktop_tools editors multimedia'
          DESKTOP_ENVIRONMENT_CONFIG_NAME=config_base

          DESKTOP_ENVIRONMENT=${type}
          EOF
          fi
          echo "Created userpatch file: $configfile"
          echo "Contents:"
          cat $configfile
          echo "-----"
          done

      - name: Set retry_wait_seconds for possible retry
        id: set_timeout
        run: |
          export retry_wait_seconds=$(shuf -i 5-145 -n 1)
          echo "retry_wait_seconds=$retry_wait_seconds" >> $GITHUB_OUTPUT
          echo retry_wait_seconds=$retry_wait_seconds

      - name: Cache ccache
        uses: actions/cache@v4
        with:
          path: ~/.ccache
          # key: ccache-${{ matrix.kernel }}-${{ matrix.os }}
          # key: ccache-${{ matrix.kernel }}
          key: ccache-${{ matrix.device }}
          restore-keys: |
            ccache-${{ matrix.device }}
            ccache-


      - name: Build armbian-${{ matrix.device }}-${{ matrix.kernel }}-[${{ matrix.os }}]-${{ matrix.type }}.img
        # uses: nick-invision/retry@v2
        # with:
        #   timeout_minutes: 300
        #   retry_wait_seconds: ${{ steps.set_timeout.outputs.retry_wait_seconds }}
        #   max_attempts: 3
        #   command: |
        run: |
            export CCACHE=1
            mkdir release
            for os in ${{ matrix.os }}; do
              export image=${{ matrix.device }}-${{ matrix.kernel }}-$os-${{ matrix.type }}
              ./compile.sh USE_CCACHE=yes EXPERT=yes PREFER_DOCKER=no ${image} || exit 1
              outputfilerelpath=$(find output -name "*.img" -exec echo -n {} \;)
              outputfilename=$(basename -z $outputfilerelpath .img \;)
              outputfilepath=$(realpath -z $outputfilerelpath)
              mv -vf $outputfilepath/${outputfilename}.img release/
              cd release/
              ls -l
              echo "Compressing ${outputfilename}.img to ${outputfilename}.img.xz"
              xz -vz -T0 -1 ${outputfilename}.img || exit 1
              cd ..
            done


      - name: add version and date
        id: set_ver
        run: |
          export extension=img.xz
          cd release
          for os in ${{ matrix.os }}; do
            export os=$os
            for i in $(find . -name "*$os*.$extension" -exec echo "{}" \;)
            do
              oldfilename=$(basename $i .$extension)
              echo Old Filename is ${oldfilename}.${extension}
              AVer=$(echo $oldfilename | sed 's/Armbian-unofficial_\([^_]*\).*/\1/')
              echo 
              echo AVer: $AVer
              KVer=${{ matrix.kernel }}-$(echo $oldfilename | sed "s/.*_${{ matrix.kernel }}_\([^_]*\).*/\1/") 
              echo KVer: $KVer
              filename=armbian-$(echo ${{ matrix.device }}-$os-${{ matrix.type }}-${AVer}-${KVer}-${{ needs.get_build_date.outputs.build_datedash }})
              echo New Filename is ${filename}.${extension}
              mv -vf "${oldfilename}.${extension}" "${filename}.${extension}"
            done
          cd ..
          ls release
          
      # - name: Compress armbian-${{ matrix.device }}-[${{ matrix.os }}]-${{ matrix.type }}.img
      #   run: |
      #     find release -name "*.img" -exec xz -vz -T0 -1 {} \;  
      #     ls release #-6 --extreme

      - name: Release armbian-${{ matrix.device }}-[${{ matrix.os }}]-${{ matrix.type }}.img.xz
        uses: softprops/action-gh-release@v2
        with:
          files: release/*.img.xz
          draft: true
          fail_on_unmatched_files: true
          name: build ${{ matrix.device }}-${{ needs.get_build_date.outputs.build_datedash }}
          tag_name: ${{ matrix.device }}-v${{ needs.get_build_date.outputs.build_date }}
    
  update_release_body:
    runs-on: ubuntu-latest
    needs: [get_build_date, build]
    env:
      DEVICE: orangepi5-plus
    steps:
      - uses: actions/checkout@v4
      - name: Update draft release body
        run: |
          tag="${{ env.DEVICE }}-v${{ needs.get_build_date.outputs.build_date }}"
          assets=$(gh release view $tag --repo ${{ github.repository }} --json assets -q '.assets[].name')
          AVer=""
          current_kver=""
          edge_kver=""
          vendor_kver=""
          for asset in $assets; do
            if [ -z "$AVer" ]; then
              AVer=$(echo $asset | sed 's/armbian-[^-]*-[^-]*-[^-]*-//' | sed 's/-\(current\|edge\|vendor\)-.*//')
            fi
            kver=$(echo $asset | sed 's/.*-\(current\|edge\|vendor\)-\([^-]*\)-.*-.*/\2/')
            kernel_type=$(echo $asset | sed 's/.*-\(current\|edge\|vendor\)-\([^-]*\)-.*-.*/\1/')
            if [[ $kernel_type == "current" ]]; then
              current_kver=$kver
            elif [[ $kernel_type == "edge" ]]; then
              edge_kver=$kver
            elif [[ $kernel_type == "vendor" ]]; then
              vendor_kver=$kver
            fi
          done
          body="Image Picker: https://dabbingwowdevs.github.io/OPi5Plus-Armbian/
          Armbian Version: $AVer
          Kernel Versions:
          - Current: $current_kver
          - Edge: $edge_kver
          - Vendor: $vendor_kver"
          gh release edit $tag --repo ${{ github.repository }} --notes "$body"
    
  publish:
    runs-on: ubuntu-latest
    needs: [get_build_date, build, update_release_body]
    env:
      DEVICE: orangepi5-plus
    steps:
      - uses: actions/checkout@v4
      - name: Publish draft release
        run: gh release edit ${{ env.DEVICE }}-v${{ needs.get_build_date.outputs.build_date }} --draft=false
    

